@charset "utf-8";
@import "normalize";
@import "bourbon";
@import "neat";
@import "variables";
@import "hamburger-settings";
@import "hamburgers";


body {
  transition: all 0.5s ease;

  .container {

    @include container;

    .hero-img {

      @include span-columns(8);
      @include shift(2);
      margin-top: 1em;
      margin-bottom: 1em;

    }

    .text-block {

      @include content-block;
      text-align: center;

      p {

        @include span-columns(10);
        @include shift(1);

      }
    }

    .panels {

      @include span-columns(10);
      @include shift(1);
      margin-top: 2em;
      margin-bottom: 2em;

      .panel {

        @include row();
        @include span-columns(12);
        font-family: $text-font;
        text-align: center;

        @include media(769px) {

          @include span-columns(4);

        }

        .icon {
          width: 100px;
          height: 100px;
          border: black 1px solid;
          border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

        }
      }
    }
  }



  footer {
    @include container;

    .footer-content {

      @include content-block;
      margin-bottom: 0;
      border-radius: 255px 15px 225px 15px/15px 225px 0px 255px;

      .contact {

        @include span-columns(2);
        @include shift(1);
        border-right: 1px solid black;
        border-radius: 255px 15px 225px 15px/15px 225px 0px 255px;
        border-right-color: $red;

      }

      .links {
        @include span-columns(6);
        @include shift(2);

        p {
          display: inline-block;
          margin: 1em;
        }
      }
    }
  }


  header {

    .nav {
      display: none;
      @include media(769px) {

        @include span-columns(12);
        text-align: center;
        position: fixed;
        background-color: white;

        p {

          @include span-columns(3);

          a {
            text-decoration: none;
            display: inline-block;
            border-bottom: 1px solid transparent;
            transition: 0.5s ease;
            white-space: nowrap;
            height: 25px;
            color: $text-black;

            &:hover {
              border-bottom: 1px solid $blue;
            }
          }
        }
      }
    }


    .hamburger {
      position: fixed;
      @include media(769px) {
        display: none;
      }
      &:focus {
        outline: none;
      }
    }
  }
}